/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
body {
  padding-top: 60px;
  font-family: 'Poppins', sans-serif;
  color: white;
  background:white;
}

/* Header */
.header-container {
  top:0px;
  position:fixed;
  display: flex;
  justify-content: space-between;
  width:100%;
  z-index:1000;
  background-color:white;
  color: black;
  padding: 10px 7px;  
  box-shadow: 0 5px 9px rgba(0,0,0,0.1);

}

.logo-container {
  display: flex;
  align-items: center;
}

.mountain-icon {
  width: 40px;
  height: auto;
  margin-right: 0px;
  margin-top:0px;
  
}

.site-name {
  display:flex;
  font-size:1.5rem;
  font-weight: bold;
  color: #222;
}
.subtitle {
    color:#868698;
    display: flex;
    font-size:0.8rem;
}
.logo {
  width:194px;
  height:94px;
}

.menu-toggle {
  margin-right:10px;
  padding:10px 2px;
  float:right;  
  background: none;
  border: silver;
  font-size: 24px;
  cursor: pointer;
}
.menu-toggle:hover {
  background-color:none ;
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -350px;
  width: 220px;
  height: 100%;
  border-left:1px solid white;
  background-color: #ffffffd6;
  padding: 20px;
  justify-content: space-between;
  transition: 0.7s ease;
  overflow-y: auto;
  z-index: 999;
}

.sidebar.active {
  right: 0;
}

.close-btn {
  background: none;
  border: silver;
  color: black;  
  width:1rem;  
  font-size: 2.5rem;
  float: right;
  cursor: pointer;
  margin-top:-11px;
}

.menu-list {
  list-style: none;
  margin-top: 30px;
}

.menu-list li {
  margin-bottom: 20px;
}

.menu-list li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-bottom:1px solid white;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  color: white;
  text-align: center;
  padding: 30px;
}
.marquee-links {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background:#e5e5e5 ;
  
}

.marquee-links span {
  display: inline-block;
  padding-left: 100%;
  animation: marqueeAnim 20s linear infinite;
}

.marquee-links a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: #0072ff;
}

@keyframes marqueeAnim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
main{
    background: linear-gradient(to right, #00c6ff, #0072ff);
}
.features{
  border-top:0.05rem solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;    
  
}

.feature {
  width:290px;
  lenght:200px;
  color:gray;
  padding:40px 30px;  
  align-items:centre;
  justify-content:center;
  text-align:center;
  background: #fffffff1;
  border-radius: 8px;
  margin-top: 1.0rem;
  margin-bottom:1rem;
  box-shadow: 0 5px 9px rgba(0,0,0,0.1);
}

.feature span{
    font-size:1.4rem;
    color:#003366;
    border-bottom:3px solid #003366;
}
.feature p{
    color:black;
    margin-top:10px;
    font-size:0.85rem;
}


.btn{
    font-size:0.85rem;
    font-weight:bold;
    color:black;
    border:1px solid black;
    border-radius:7px;
    padding:4px 50px;
    background-color:#00c6ff;
    text-align:center;
}
.btn:hover{
    background-color:#0072ff;
}
.classes {
  padding: 2rem;
}

.class-list li {
  margin: 10px 0;
}

.class-section {
  color:#003366;
  background: #fff;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.roadmap-section {
  padding: 2rem;
}

footer {
  background-color:#ffffff;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-top: 0rem;
  color:black;
  border-bottom:2px solid black;
}
.footer-links {
    display:flex;
    font-size:0.9rem;
    text-align: center;
    padding:1rem 0rem;
    justify-content: space-evenly;
}
.footer-links a{
    color:black;
    text-decoration: none;
}